h4 {
  color: #333;
  margin-bottom: 15px;
}

.form-control,
.form-select {
  border-radius: 10px;
  padding: 10px;
}

.btn-success {
  border-radius: 25px;
  padding: 10px;
  font-weight: 500;
}

.list-group-item {
  border-radius: 10px;
  margin-bottom: 5px;
}
